*.pyc
.pytest_cache/
TPOT.egg-info
TPOT.egg-info
*.tar.gz
*.pkl
*.json
joblib/
cache_folder/
dask-worker-space/
.tox/
*.egg-info/
.coverage
target/
.venv/
build/*
*.egg
*.coverage*
docs/documentation/
mkdocs.yml
dist/
